.contact-infos {
  color: var(--Black, #000);
  font-family: Abel;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}

.contact-logo {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
