.infos-ipa {
  color: var(--White, #fff);
  font-family: Abel;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  flex-shrink: 0;
  background-color: #6c7d47;
  padding: 80px 150px 30px 55px;
  width: 1315px;
  height: 478px;
  position: relative;
  margin-top: 150px;
}
