.ingredients-blond {
  color: var(--White, #fff);
  font-family: Abel;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 110px;
}
