.naviguation-history {
  font-family: "Palette Mosaic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--Black, #000);
}

.naviguation-history:hover {
  width: 343px;
  flex-shrink: 0;
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.naviguation-beer {
  font-family: "Palette Mosaic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--Black, #000);
}

.naviguation-beer:hover {
  width: 343px;
  flex-shrink: 0;
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.naviguation-shop {
  font-family: "Palette Mosaic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--Black, #000);
}

.naviguation-shop:hover {
  width: 343px;
  flex-shrink: 0;
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.naviguation-places {
  font-family: "Palette Mosaic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--Black, #000);
}

.naviguation-places:hover {
  width: 343px;
  flex-shrink: 0;
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.naviguation-contact {
  font-family: "Palette Mosaic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--Black, #000);
}

.naviguation-contact:hover {
  width: 343px;
  flex-shrink: 0;
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
