.naviguation {
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
