.order-ipa {
  display: inline-flex;
  padding: 7px 19px;
  align-items: center;
  gap: 15px;
  border-radius: 53px;
  border: 1px solid #fff;
  color: #fff;
  text-align: right;
  font-family: Abel;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgba(217, 217, 217, 0);
  position: absolute;
  bottom: 30px;
}
.order-blond {
  display: inline-flex;
  padding: 7px 19px;
  align-items: center;
  gap: 15px;
  border-radius: 53px;
  border: 1px solid #fff;
  color: #fff;
  text-align: right;
  font-family: Abel;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgba(217, 217, 217, 0);
  position: absolute;
  bottom: 30px;
}

.order-dark {
  display: inline-flex;
  padding: 7px 19px;
  align-items: center;
  gap: 15px;
  border-radius: 53px;
  border: 1px solid #fff;
  color: #fff;
  text-align: right;
  font-family: Abel;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgba(217, 217, 217, 0);
  position: absolute;
  bottom: 30px;
  right: 50px;
}
