.order-shop {
  display: inline-flex;
  padding: 3px 23px;
  align-items: center;
  gap: 19px;
  border-radius: 53px;
  border: 1px solid var(--Black, #000);
  background: rgba(217, 217, 217, 0);
  color: var(--Black, #000);
  text-align: right;
  font-family: Abel;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
