.places-text {
  color: var(--Black, #000);
  font-family: Abel;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
}

.places-logo {
  margin-top: 90px;
}

.places-arti {
  position: absolute;
  z-index: 10;
  color: var(--Black, #000);
  text-align: right;
  font-family: Abel;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  bottom: 350px;
  left: 650px;
}

.places-image {
  margin-top: 30px;
}

.places-infos {
  color: var(--Black, #000);
  font-family: Abel;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.places-reservation {
  display: inline-flex;
  padding: 18px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 53px;
  border: 1px solid var(--Black, #000);
  background: rgba(217, 217, 217, 0);
  color: var(--Black, #000);
  text-align: right;
  font-family: Abel;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
