.shadow-ipa {
  width: 675px;
  height: 692px;
  flex-shrink: 0;
  position: absolute;
  bottom: -100px;
  left: 1000px;
}

.shadow-dark {
  width: 675px;
  height: 692px;
  flex-shrink: 0;
  position: absolute;
  top: -110px;
  right: 1000px;
}

.shadow-blond {
  width: 675px;
  height: 692px;
  flex-shrink: 0;
  position: absolute;
  bottom: -100px;
  left: 1000px;
}
