.shop {
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 339px;
  height: 87px;
  flex-shrink: 0;
  margin-top: 200px;
}
