.slogan {
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-align: center;
  margin-top: 100px;
}
