.title-card {
  color: var(--Black, #000);
  font-family: Abel;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 362px;
  height: 85px;
  flex-shrink: 0;
}
