/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: #0057ff;
}

h3 {
  color: var(--Black, #000);
  font-family: "Palette Mosaic";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 388px;
  opacity: 0.25;
}
img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

ul {
  margin-top: 20px;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

/* ====================================
// base rules
// ==================================== */
