.l-header {
  background-image: url("../../img/background-beer.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1440px;
  margin: auto;
  height: 965px;
  flex-shrink: 0;
  z-index: 10;
  position: relative;
}

.l-main {
  width: 1440px;
  margin: auto;
  margin-top: -60px;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #e9e8da;
  z-index: 1;
  position: relative;
}

.l-footer {
}
