.l-header {
  background-image: url("../../img/background-beer.png");
  background-size: cover;
  width: 1440px;
  margin: auto;
}

.l-main {
  width: 1440px;
  margin: auto;
  font-size: 1rem;
  line-height: 1.25;
  background-color: #e9e8da;
}

.l-footer {
}
